{% extends "base.html.twig" %}

{% block title 'Agence Lorem Ipsum' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque impedit nihil quidem placeat eius molestiae dolorem exercitationem ipsum! Aut iste nemo ea! Error tempore repellendus quia nihil molestias. Consequuntur, facilis!</p>    
</div>

<div class="container">
    <h2>Les derniers bien</h2>
    <div class="row flex">
        {% for property in pagination %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                {% include "property/_property.html.twig" %}
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

</div>
{% endblock %}
